
body{
     background-color: #cffffe;
    }
h1{
    
    color:crimson;
  }
h3{
    color:darkred;
  }
hr{
background-color: none;
border-style:dotted none none none;
border-top-style: dotted;
border-top-width: 5px;
border-top-color: gray;
border-radius: none;
height: 0px;
width: 5%;
}
            
            
